.form-signin{
    border-radius:3px; 
/*    padding: 30px; */
    padding: 10px;
    box-shadow:0 5px 5px #687374;
    background:#95a5a6;
    float:none;
    font-family:"Montserrat",sans-serif;
    min-width: 330px;
    max-width: 330px;
/*    margin: 25% auto 0; */
    margin: 15% auto 0;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top:10px;
    width: calc(100% - 0.1em);
    vertical-align: top;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.logout {
    text-align: center;
}

.btn {
	padding:5px 20px;
    border: 0 none;
    font-weight: 400;
    text-transform: uppercase;
    font-size:13px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    position:relative;
    background: #3498db;
    color: #ffffff;
    border-bottom:5px solid #2980b9;
}