@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Sans:400,700);
body{
    font-family:'Noto Sans',sans-serif;
    background:#f8f3ec;
    color:#34495e;
}

pre {
    font-size: 12px;
}

input[type="radio"], input[type="checkbox"] {
    margin-top: 7px;
}

label input[type="radio"], label input[type="checkbox"] {
    margin: 0;
}

.container {
/*    max-width: 980px; */
    max-width: 100%;
/*    padding: 10px 20px; */
}

.navbar-inverse {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
/*    background-color: #563d7c; */
    background-color: #21292f;
    border-color: #463265;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #f3ecff;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.page-header {
    margin-top: 0;
}

@media (min-width: 769px) {
    .page-header__filter h1 {
        float: left;
    }
    .page-header__filter .form-inline {
        float: right;
    }
}

.sidebar ul .list {
    display: block;
    padding: 8px 10px;
    margin: 0 0 5px 0;
    font-size: 14px;
    border-radius: 3px;
    text-decoration: none;
    color: #777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.sidebar ul {
    padding-left: 0;
    list-style: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
}
@media (min-width: 981px) {
    .sidebar ul {
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.sidebar .list.selected {
    color: #fff;
    background: #4183c4;
}

.sidebar .list:hover {
    color: #777;
    background: #eee;
}

.form-group {
    margin-top: 25px;
}

.table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.table-nolines > thead > tr > th,
.table-nolines > tbody > tr > th,
.table-nolines > tfoot > tr > th,
.table-nolines > thead > tr > td,
.table-nolines > tbody > tr > td,
.table-nolines > tfoot > tr > td {
    border-top: 0;
}

.panel-success {
    margin-top: 20px;
}

.panel-danger {
    margin-top: 20px;
}

.panel-body:after {
    clear: none;
}

.well {
    margin-top: 20px;
    text-align: center;
}

.dl-horizontal dt {
    text-align: left;
}

.modal-body {
    padding-left: 10px;
    padding-bottom: 0;
}

#error {
    text-align: center;
}

.format-convert {
    display: none;
}

.inst-btn {
    width: 95px;
    text-align: center;
}

#lineLegend {
    margin-bottom: 20px;
    padding-left: 25px
}

.netIN {
    border-color: rgb(83, 191, 189);
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}

.netOUT {
    border-color: rgb(151, 187, 205);
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}

.diskRD {
    border-color: rgb(83, 191, 189);
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}

.diskWR {
    border-color: rgb(249, 134, 33);
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}

p {
    margin: 10px 10px 10px 10px;
}

.nav-tabs {
    background-color: #eee;
}

.nav-btn-act {
    height: 42px;
}

.tab-inst {
    padding: 15px;
    border: 1px solid #eee;
    border-top: 0;
}

#xmltextarea {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    width: 100%;
    height: 340px;
    padding: 9.5px 0 0 9.5px;
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}

#viewXMLpre .pre-scrollable {
    width: 100%;
}




aside {
    background: #363d43;
    width: 250px;
    float: left;
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    color: #b9bbbc;
    position: fixed;
    z-index: 2;
    padding-top: 50px;
    height: 100%;
    overflow: hidden;
    box-shadow: 5px 2px 5px #e8dccb;
}

aside ul li {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #21292f;
}


aside ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


/*---*/
Scrollbar {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-x: hidden;
}

aside ul li {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #21292f;
}

.asideRemoveScrollbar{    
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: -17px; /* Decrease this value for cross-browser compatibility */
    overflow-x:hidden;}
aside ul{padding:0; margin:0; list-style:none;}
aside ul li{text-transform: uppercase; font-size:14px; padding:10px 0 10px 15px; border-bottom:1px solid #21292f;}
aside ul li:hover{background:#32393f;}
aside ul li.selected{border-left:9px solid #c65a4e; background:#40464b; border-bottom:none; }
aside ul li.selected a{color:white;}
aside ul li.selected:after{background:#21292f; padding-bottom:1px;margin-left:-24px; width:250px; margin-top:10px;}
aside ul li:after{border-bottom:1px solid rgba(255,255,255,0.15); margin-top:11px; margin-left:-20px; height:1px; content: ' ';  width:260px; float:left;}
aside ul li a{color:#b9bbbc; display:block;}
aside ul li a:hover, aside ul li a:focus{color:white; outline:none;}
aside span{width:100%; text-align:right; float:left; height:25px; line-height:25px; font-size:10px; padding-right:35px; border-bottom:1px solid #21292f; margin-bottom:10px; background:#404b55; text-transform: uppercase;}
aside span:after{border-bottom:1px solid rgba(255,255,255,0.15);  margin-left:-20px; height:1px; content: ' ';  width:270px; float:left;}
aside p{padding-left:15px; margin-top:10px;}
aside ul li.has-sub{position:relative}
aside ul li.has-sub .arrow{position:absolute; right:30px; top:10px; width:10px; height:10px;  }
aside ul li.has-sub .arrow:after{ font-family:"FontAwesome",sans-serif;  content:"\f0da";  }
aside ul li.has-sub a.show + .arrow:after{font-family: "FontAwesome",sans-serif; content:"\f0d7";}
aside ul li.has-sub ~ .sub {
    display:block;
    height: auto !important;
    margin-left:-15px;
    margin-top:10px;
    overflow: hidden;
    opacity: 1;
}
aside ul.sub li.selected{border-color:#4e92c6;}

.box {
    background: #fff;
    box-shadow: 0 5px 5px #e8dccb;
    padding: 15px;
    color: #34495e;
}

header .userinfo{height:50px;}
header .userinfo a{margin-left:10px;line-height:50px; padding:16px 15px; background:#363d43; color:#b9bbbc;}
header .userinfo i{margin-right:10px;}
header .userinfo a:hover{color:white;}

.pushContent {
    float: left;
    width: 100%;
    height: 100%;
    padding-left: 250px;
    margin-top: 0px;
}